{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "prettier",
        "simple-import-sort",
        "@typescript-eslint"
    ],
    "rules": {
        "prettier/prettier": "error",
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error"
    },
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "ignorePatterns": [
        "webpack.config.js",
        "dist/**/*.js"
    ]
}